:root {
  --primary: #b2bec3;
  --secondary: #00b894;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.container {
  width: 50%;
  margin: auto;
}

input,
label {
  display: block;
}

input {
  margin-bottom: 0.5rem;
  width: 100%;
}

#check {
  display: block;
  margin-top: 1rem;
  margin: auto;
  background: transparent;
  color: var(--secondary);
}
